spring:

  config:
    import:
      - .env[.properties]

  application:
    name: aeatbe

  profiles:
    active: development

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:create-drop}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  docker:
    compose:
      file: ./docker/compose.yml
      skip:
        in-tests: false
      start:
        skip: if_running

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

kakao:
  client_id: ${KAKAO_CLIENT_ID}
  redirect_url: https://${FRONTEND_DOMAIN}/login/redirect
  auth_url: https://${FRONTEND_DOMAIN}/oauth/authorize
  logout_url: https://kauth.kakao.com/oauth/logout
  logout_redirect_url: http://localhost:8080/api/users/logoutWithKakao/callback
